/*RESET CSS START!*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
	font-size: 14px;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #f4f7f9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
:focus {
	outline: 0;
}
.clear {
	clear: both;
}
/*RESET CSS END!*/
.container {
	width: 1600px;
	margin: 0 auto;
}
/*HEADER START!*/
header {
	background: #141618;
}
header .container {
	display: flex;
	align-items: center;
	height: 60px;
}
header .container span {
	margin-left: 30px;
}
header .container span a {
	color: rgba(255,255,255,.6);
}
header .container a:hover{
	color: #fff;
}
header .container span a i {
	margin-right: 10px;
}
header .container .search {
	display: flex;
	margin-left: auto;
	border-radius: 4px;
	overflow: hidden;
}
header .container .search input {
	height: 34px;
	width: 256px;
	background-color: #21252d;
	padding: 0 10px;
	color: #fff;
}
header .container .search input::placeholder {
	color: rgba(255,255,255,.6);
}
header .container .search button {
	width: 32px;
	height: 34px;
	background-color: #21252d;
	color: white;
}
header .container .search button:hover {
	background: #316aff;
	cursor: pointer;
}
header .container .users a {
	color: #fff;
}
header .container .users a:first-child {
	height: 34px;
	border-radius: 4px;
	line-height: 34px;
	display: inline-block;
	background-color: #278654;
	padding: 0 15px;
	margin: 0 15px;
	box-sizing: border-box;
}
@media screen and (min-width: 576px){
	header .container{
		width: 100%;
	}

}
@media screen and (min-width: 768px){
	header{
		padding: 0 30px;
	}
	header .container{
		height: 48px;
	}
	header .container span {
		display: none;
	}
}
@media screen and (min-width: 992px){
	header{
		padding: 0 30px;
	}
	header .container{
		margin: 0 auto;
		width: 100%;
		height: 60px;
	}
	header .container .search input{
		width: 368px;
	}
}
@media screen and (min-width: 1024px) {
	header{

	}
	header .container{
		margin: 0 auto;
		max-width: 1616px;
		height: 60px;
	}
	header .container .search input{
		width: 256px;
	}
	
}
/*ARTICLE START !*/
/*SECTION BG-BLUE START!*/
article .bg-blue {
	width: 100%;
	height: 640px;
	background-image: linear-gradient(170deg,#212A39 0%,#181E28 100%);
}
article .bg-blue .container {
	display: flex;
	width: 1180px;
	height: 100%;
	align-items: center;
}
article .bg-blue .container .left {

}
article .bg-blue .container .left h2 {
	width: 590px;
	height: 168px;
	font-size: 48px;
	line-height: 56px;
	color: #fff;
}
article .bg-blue .container .left p {
	font-size: 24px;
	line-height: 33px;
	color: #B0B6BE;
	margin: 10px 0 65px 0;
}
article .bg-blue .container .left button {
	line-height: 20px;
	height: 48px;
	width: 250px;
	background-color: #316aff;
	border-radius: 5px;
	cursor: pointer;
}
article .bg-blue .container .left button a {
	color: #fff;
	letter-spacing: 1px;
}
article .bg-blue .container .left button a:hover {

}
article .bg-blue .container .right {
	margin-left: auto;
}
article .bg-blue .container .right img {
	width: 480px;
}
article .bg-blue .container .right img::hover {

}
/*SECTION BG-WHITE START!*/
article .bg-white .container {
	display: flex;
	align-items: center;
	padding: 120px 0;
	width: 1276px;
}
article .bg-white .container .boxs {
	display: flex;
	width: 392px;
	min-width: 392px;
	flex-wrap: wrap;
	justify-content: space-between;
}
article .bg-white .container .boxs a {
	width: 184px;
	height: 184px;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 15px -5px rgba(0,0,0, .1);
	transition: 150ms all;
}
article .bg-white .container .boxs a:hover {
	transform: scale(1.03);
}
article .bg-white .container .boxs a img {
	margin-bottom: 20px;
	height: 40px;
}
article .bg-white .container .boxs a .title {
	font-size: 18px;
	color: #2F2B2B;
}
article .bg-white .container .text-area {
	padding-left: 160px;
	width: 500px;
}
article .bg-white .container .text-area h3{
	font-size: 36px;
	color: #2F2B2B;
	margin-bottom: 30px
}
article .bg-white .container .text-area p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 28px;
}
/*REVIEWS START!*/
article .reviews .container {
	background: #fff;
	box-shadow: 0 5px 15px -5px rgba(0,0,0, .1);
	width: 1084px;
	padding: 64px 96px;
}
article .reviews .container .rev1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2px 0;
}
article .reviews .container .rev1 .reviews-icon {
	width: 56px;
}
article .reviews .container .rev1 h3 {
	font-family: georgia,times,serif;
	color: #141618;
	margin-top: 40px;
	font-size: 22px;
	max-width: 700px;
	text-align: center;
	line-height: 35px;
}
article .reviews .container .shoun-cave {
	display: flex;
	justify-content: center;
	align-items: center;
}
article .reviews .container .shoun-cave .img-shaunCave {
	border-radius: 50%;
	width: 40px;
	margin-top: 30px;
}
article .reviews .container .rev1 .shoun-cave h4 {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #333030;
	display: flex;
	margin: 25px 0 0 10px;
}
/*CREATE-ACC START!*/
article .create-acc{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 1180px;
	height: 538px;
	padding-top: 20px;
	margin-top: 40px;
}
article .create-acc {
	display: flex;
}
article .create-acc .left {
	width: 50%;
}
article .create-acc .left h3 {
	font-size: 36px;
	margin: 50px 0 30px 0 ;
}
article .create-acc .left p {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #141618;
	text-align: left;
}
article .create-acc .left a {
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	color: #fff;
	background-color: #36855b;
	width: 290px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 5px;
	margin-top: 55px;
	display: inline-block;

}
article .create-acc .right{
	width: 50%;
}
article .create-acc .right img{
	width: 560px;
	margin-left: auto;
	padding-left: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}
/*FOOTER START!*/
footer{
	background: #141618;
}
footer .container {
	width: 1276px;
	margin: 0 auto;
	padding: 64px 32px 30px 32px;
}
/*footer left start!*/
footer .container .footer-section {
	display: flex;
}
footer .container .footer-section p {
	color: hsla(0,0%,100%,.8);
	letter-spacing: 2px;
	font-weight: 600;
	margin-top: 30px;
}
footer .container .footer-section ul {
	margin-top: 15px;
}
footer .container .footer-section ul li {
	padding-top: 8px;
	padding-bottom: 8px;

}
footer .container .footer-section a {
	color: #666B70;
	font-size: 16px;
}
footer .container .footer-section .menu-content{
	margin-right: 30px;
}
/*footer right start!*/
footer .container .footer-section .footer-search{
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 55px;
}
footer .container .footer-section .footer-search .search-btn{
	border-radius: 4px;
	overflow: hidden;
	display: flex;
}
footer .container .footer-section .footer-search h2 {
	color: white;
	font-size: 20px;
}
footer .container .footer-section .footer-search .search-btn input {
	background-color: #21252d;
	padding: 1px 0 1px 16px;
	width: 390px;
	height: 46px;
}
footer .container .footer-section .footer-search .search-btn input::placeholder{
	color: rgba(255,255,255,.6);
}
footer .container .footer-section .footer-search .search-btn button {
	padding: 0 15px;
	background: #316aff;
	color: #fff; 
}
footer .container .footer-section .footer-search .search-btn button:hover{
	cursor: pointer;
}
/*base-line start!*/
footer .container .base-line {
	border-top: 1px solid rgba(255, 255, 255, .1) ;
	margin-top: 30px;
}
footer .container .base-line ul {
	margin: 20px 0 40px 0;
	display: flex;
}
footer .container .base-line ul li a {
	color: #666B70;
	margin-right: 20px;
}