/*reset css start!*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
:focus {
	outline: 0;
}
.clear {
	clear: both;
}
/*reset css end!*/
.container{
	width: 1300px;
	margin-top: 0 auto;
}
.header{
	
	background-color: #141618;
}
.header .container{
	height: 60px;
	display: flex;
	align-items: center;
}
.header .logo{
	margin-right: 40px;
}
.header .menu ul li a {
	color: rgba(255,255,255,.6);
	line-height: 60px;
	display: block;
}
.header .menu ul li a:hover {
	color: #fff;
}
.header .search {
	display: flex;
	border-radius: 4px;
	overflow: hidden;
	margin-left: auto;
}
.header .search input {
	height: 34px;
	width: 250px;

	background-color: #21252d;
	padding: 0 10px;
}
.header .search input::placeholder{
	color: rgba(255,255,255,.6);
}
.header .search button{
	width: 32px;
	height: 34px;
	background-color: #21252d;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}
.header .search button:hover{
	background-color: #316aff;
}